.best-seller-label {
    height: 20px;
    width: 100px;
    background-color: blue;
    color: black;
    text-align: center;
    font-weight: bold ;
}

.sale-label {
    height: 20px;
    width: 100px;
    background-color: red;
    color: black;
    text-align: center;
    font-weight: bold ;
}

.free-shipping-label {
    height: 20px;
    width: 100px;
    background-color: green;
    color: black;
    text-align: center;
    font-weight: bold ;
}

#mybadge_id{
    display: none;
}