<?php

/**
 * TestTask view template
 *
 * @var $block TestTask\BadgeLabel\Block\Labels
 */



$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');//get current product
$badge_label = $product->getResource()->getAttribute('custom_labels')->getFrontend()->getValue($product);

$str_label_arr = explode(",",$badge_label);
foreach ($str_label_arr as $label) {
    if ($label == 'Sale') {
        echo "<div class='sale-label'>$label</div>";
    }
    if (($label == ' Best Seller') || ($label == 'Best Seller')) {
        echo "<div class='best-seller-label'>$label</div>";
    }
    if (($label == 'Free Shipping') || ($label == ' Free Shipping')) {
        echo "<div class='free-shipping-label'>$label</div>";
    }
}

echo '<div id="badge_swatch_sale"></div>';
echo '<div id="badge_swatch_best-seller"></div>';
echo '<div id="badge_swatch_free-shipping"></div>';